<!-- FOOTER -->	
<footer id="footer">
		<div class="container">
			<div class="row">
				<!-- col #1 -->
				<div class="col-md-8">

					<div class="footer-logo">
						<%= image_tag("Rocket_Elevator_Assets/R2logo.png") %>
					</div>
					<h3 class="letter-spacing-1">WHY US?</h3>

					<!-- Small Description -->
					<p>
						We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have
					</p>
					<h2>(418) 555-1234</h2>
				</div>
				<!-- /col #1 -->

				<!-- Contact Address -->
				<address>
					<div class="col-md-9">
					<ul class="list-unstyled">
						<li class="footer-sprite address">
							418-725 Boulevard Lebourgneuf,<br>
							Québec, QC G2J 0C4, Canada<br>
						</li>
						<li class="footer-sprite phone">
							Phone: (418) 555-1234
						</li>
						<li class="footer-sprite email">
							<a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a>
						</li>
					</ul>
				</address>
				<!-- /Contact Address -->				
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<ul class="float-right m-0 list-inline mobile-block">
					<li><a href="#">Terms &amp; Conditions</a></li>
					<li>&bull;</li>
					<li><a href="#">Privacy</a></li>
				</ul>
				&copy; All Rights Reserved, Company LTD
			</div>
		</div>
</footer>
<!-- /FOOTER -->